# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/

# Env
.env

# Logs
logs/*.log

# Docker
*.log

# VSCode / IDE
.vscode/
.idea/

# Test coverage
.coverage

# OS
.DS_Store
Thumbs.db
